
<h1>Registration - Template Driven</h1>

<form (ngSubmit)="submitUserRegistration()" #registrationForm="ngForm" >
  <label>Username:</label>
  <input type="text" 
    [(ngModel)]="newUser.username" 
    name="username" 
    id="inputUsername" 
    #username="ngModel"
    [ngModelOptions]="{updateOn: 'blur'}" 
    required
    minlength="3" >
  <p *ngIf="username.dirty && username.errors?.required">This field is required</p>
  <p *ngIf="username.dirty && username.errors?.minlength">This field needs a minlength of 3</p>

  <label>Email:</label>
  <input type="email" #email="ngModel" name="email" [(ngModel)]="newUser.email" required >
  <p *ngIf="email.dirty && email.errors?.required">This field is required</p>
  
  <label>Password:</label>
  <input type="password" #password="ngModel" name="password" [(ngModel)]="newUser.password" required >  
  <p *ngIf="password.dirty && password.errors?.required ">This field is required</p>
   
  <button type="submit" [disabled]="!registrationForm.valid"  >Submit</button>

</form>
