<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Demos
  </h1>
</div>

<ul>
  <li>
      <a [routerLink]="['/admin']">Admin</a>
  </li>

  <li>
    <a [routerLink]="['/pipes']">Pipes demo</a>
  </li>
  <li>
    <a [routerLink]="['/forms']">Forms demo</a>
  </li>
  <li>
    <a [routerLink]="['/componentdemo']">Components demo</a>
  </li>
  <li>
    <a [routerLink]="['/backenddemo']">Backend demo</a>
  </li>
  <li>
    <a [routerLink]="['/routingdemo']">Routing demo</a>
  </li>
</ul>



<div id="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>