<h1>Registration - Model Driven</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Username:</label>
    <input type="text" formControlName="username"> 
    
    
    <p *ngIf="registerForm.controls.username.dirty && registerForm.controls.username.errors?.required"  >This field is required</p>
    <p *ngIf="registerForm.controls.username.dirty && registerForm.controls.username.errors?.minlength"  >This field needs a minimum length of 2</p>
  </div>

   <div>
    <label>Email:</label>
    <input type="text" formControlName="email"> 
    
    
    <p *ngIf="registerForm.controls.email.dirty && registerForm.controls.email.errors?.required">
      This field is required</p>
  </div>

  <div>
    <label>Password:</label>
    <input type="password" formControlName="password"> 
    <p *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.errors?.required">This field is required</p>
  </div>
  <div>
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
  </div>
</form>